                    @charset "UTF-8";
                    body {
                        font-family: Segoe UI, "Helvetica Neue";
                        font-size: 14px;
                        color: #666;
                    }
                    
                    header {
                        background-color: rgba(29, 14, 0, 0.7) !important;
                    }
                    
                    footer {
                        background-color: #432A1C;
                        padding: 25px 0;
                        border-top: 4px solid #432a1c;
                        color: #fff;
                        text-align: center;
                    }
                    
                    footer img {
                        margin-bottom: 25px;
                        margin-top: 10px;
                    }
                    
                    .titulos1 {
                        font-size: 65px;
                        text-align: center;
                        background-color: rgba(67, 42, 28, 0.616);
                        color: #fff;
                        font-family: 'Roboto', sans-serif;
                    }
                    
                    .texto {
                        background-color: rgba(121, 60, 17, 0.623);
                        position: absolute;
                        text-align: center;
                        color: white;
                        font-family: 'Roboto', sans-serif;
                    }
                    
                    #our-specialty {
                        background-color: #432a1c;
                    }
                    
                    .textito {
                        margin-left: 15px;
                        font-family: 'Roboto', sans-serif;
                        color: white;
                    }
                    
                    .textito h4 {
                        font-size: 30px;
                    }
                    
                    .textito strong {
                        color: #c38346;
                    }
                    
                    .btn-cafe {
                        background-color: #c38346;
                        color: white;
                    }
                    
                    .servicios {
                        background-color: #f2f2f2;
                        border-radius: 100%;
                        max-height: 20%;
                        max-width: 20%;
                        align-content: center;
                        text-align: center;
                        position: relative;
                    }
                    
                    #visitors {
                        background-image: url(../img/happyvisitor-bg.jpg);
                    }